@import "../../Variables";

.profile{

	.context-bar{
		color: #aaa;
		font-size: 0.8rem;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0.75rem 1rem;
		i{
			color: #aaa;
			font-size: 1.1rem;
			position: relative;
			top: .2rem;
			&:hover{
				color: $twentyonesecondary;
			}			
		}

		z-index: 9999999;
	}

}


.token-description-edit-link.btn{
  padding-left: 0;
  padding-right: 0;
}