//import variables
@import "../../Variables";


/* message compose styles */
.modal-backdrop{
  
  background-color: #ddd !important;
  &.show{
    opacity: 0.7 !important;
  }
}
/* message compose styles */



.message{
  position: relative;
  padding: 2rem 2.5rem 1rem 1.5rem;
  font-size: 1.1rem;
  opacity: 0.8;
  transition: opacity 0.2s linear;

    &:hover{
    opacity: 1;
  }

  color: black;
  border-left: 1px solid #ccc;


  &.message-type-text{
    border-left: 1px solid $twentyoneprimary;

    .content-type-hint{
      color: $twentyoneprimary;
    }
  }

  &.message-type-youtube{
    border-left: 1px solid #FF0000;

    .content-type-hint{
      color: #FF0000;
    }
  }

  &.message-type-twitter{
    border-left: 1px solid #1da1f2;

    .content-type-hint{
      color: #1da1f2;
    }
  }

  &.message-type-image{
    border-left: 1px solid #5A0084;

    .content-type-hint{
      color: #5A0084;
    }
  }

  &.message-type-meme{
    border-left: 1px solid green;

    .content-type-hint{
      color: green;
    }
  }

  .token-name{
    color: black;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .message-time{
    font-size: 0.7rem;
  }

  .message-delete{
    display: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    opacity: 0.75;
    &:hover{
      text-decoration: none;
    }
  }

  &.message-destroy-countdown, &:hover {
    .destroying {
      color: red;
    }
    .message-delete{
      display: block;
    }
  }

  &:hover {
    .message-copy-url{
      opacity: 0.75;
      display: inline-block;
    }
  }
}

.hidden-char{
  font-size: 1.5rem;
  font-family: "Redacted";
  color: #eee;

}


.message-time{
	margin-left: 0.4rem;
}


.message-copy-url{
  cursor: pointer;
  float: right;
  opacity: 0;
  display: inline-block;
  i {
    margin-right: 0.5em;
  }
}

.message-header .profile-image{
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

