
.hidden-char{
  margin-left: -0.15em;
  margin-right: -0.15em;
  user-select: all;
  &.c0{
    color: red;
  }
  &.c1{
    color: orange;
  }
  &.c2{
    color: yellow;
  }
  &.c3{
    color: green;
  }
  &.c4{
    color: blue;
  }
  &.c5{
    color: indigo;
  }
  &.c6{
    color: violet;
  }
}


.message-form.card,.message.card{
border: 1px solid #eee !important;

}

.message-form.card{
	textarea{
	}
}

.form-group-hint {
  label {
    display: inline;
  }
  input {
    display: inline;
    margin-left: 1em;
    width: 40em;
    border-radius: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
  .char-count {
    margin-left: 0.5em;
  }
}
.hidden-message{
  span {
    opacity: 0.5;
  }
}

.message-body{
	margin: 0.7rem 0;

	& p{
		margin-bottom: 0;
	}
}

.message-time{
	margin-left: 0.4rem;
}

.card + .card {
  margin-top:1em;
}

.text-muted.more-text-muted {
  opacity: 0.8;
  color: #989b9e;
}

.threshold-input {
  color: #6c757d;
  border: 0;
  border-bottom:0.1px solid #ccc;
  width: 5.25em;
  padding-left: 0.25em;
}