.profile{

	.profile-header{
		margin-top: -1rem;
		text-align: center;
		font-weight: bold;

		.profile-image{
			width: 10rem;
			border-radius: 50%;
		}

		.token-name{
			font-size: 1.7rem;
		}
	}

	.profile-body{

	}	
}


.token-description-edit-link.btn{
  padding-left: 0;
  padding-right: 0;
}