.profile{

	.profile-header{
		margin-top: -5rem;
		font-weight: bold;

		.token-name{
			font-size: 2rem;
		}

		.profile-image{
			width: 100%;
			border-radius: 50%;
		    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
		}
	}

	.profile-body{

	}	
}


.token-description-edit-link.btn{
  padding-left: 0;
  padding-right: 0;
}