.message-form{
  font-size: 1rem;
  textarea{
  }
  .threshold-input {
    border: 0;
    width: 5.25em;
    padding-left: 0.25em;
  }
  .nav {
    margin-bottom: 1rem;
  }

  select {
    margin-bottom: 1rem;
  }
}

.compose-submit-button{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.holders-coda{
  list-style: none;
  padding-left: 0;
}