// .Allocator {
//     .form-group {
//         margin: 0px;
//     }

//     .Allocator-input {
//         -webkit-appearance: none;
//         display: inline-block;
//         width: 100%;
//         height: 25px;
//         background: #d3d3d3;
//         outline: none;
//         opacity: 0.7;
//         -webkit-transition: .2s;
//         transition: opacity .2s;
//     }

//     .preview {
//         width: 100%;
//         height: 15px;
//         margin-top: -5px;
//         font-size: 0.8em;
//     }

//     .Allocator-input::-webkit-slider-thumb {
//         -webkit-appearance: none;
//         appearance: none;
//         width: 5px;
//         height: 25px;
//         background: #4CAF50;
//         cursor: pointer;
//     }

//     .Allocator-input::-moz-range-thumb {
//         width: 25px;
//         height: 25px;
//         background: #4CAF50;
//         cursor: pointer;
//     }
// }

%action-dot{
    border:1px solid transparent;
}

%disabled{
    cursor: default;
}

.stake-dots span{
    cursor: pointer;
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.25em;
    border:1px solid #ccc;
    &.disabled{
        @extend %disabled;
    }
}



.stake0{
    &.active{
        border-color: hsl(90, 20%, 85%);
        background-color: hsl(90, 20%, 85%);
    }
}
.stake1{
    @extend %action-dot;
    &.active{
        background-color: hsl(90, 70%, 75%);
        border-color: hsl(90, 70%, 75%);
    }
}

.stake2 {
    @extend %action-dot;
    &.active{
        background-color: hsl(90, 80%, 60%);
        border-color: hsl(90, 100%, 47%);
    }
}

.stake3 {
    @extend %action-dot;
    &.active{
        background-color: hsl(90, 90%, 55%);
        border-color: hsl(90, 100%, 47%);
    }
}

.stake4 {
    @extend %action-dot;
    &.active{
        background-color: hsl(90, 100%, 47%);
        border-color: hsl(90, 100%, 47%);
    }
}