//import variables
@import "../../../Variables";


.content-type-hint{
	color: #aaa;
	font-size: 1.5rem;
	position: relative;
	left: 0.5rem;
}

.decode-button{
	font-weight: bold;
	color: white;
	background-color: $twentyonesecondary;
	padding: 0 0.5rem;
	border-radius: 0.5rem;
	&:hover{
		color: white;
		background-color: lighten($twentyonesecondary,10%);
		text-decoration: none;
	}
}

.message-body{
	padding: 0.5rem 0;

	img, iframe, video{
		max-width: 100%;
		max-height: 400px;
		object-fit: contain;

		border-radius: 0.5rem;
	}

}

img.decoding{
	max-width: 300px;
}

// .char-reveal{
// 	display:inline-block;
// 	color: black;
// 	position: relative;
// 	.decrypted {
// 		display: none;
// 	}
// 	&:before{
// 		content: '';
// 		color: black;
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		background: #0e182d;
// 		width: 0;
// 		height: 1.2em;
// 		-webkit-transform: translate(-50%,-55%);
// 		-ms-transform: translate(-50%,-55%);
// 		transform: translate(-50%,-55%);
// 	}
// 	&.step-0{
// 	}
// 	// &.step-1{
// 	// 	.encrypted {
// 	// 		color: transparent;
// 	// 	}
// 	// 	&:before{
// 	// 	  	width:.1em;
// 	// 	}
// 	// }
// 	&.step-1{
// 		.encrypted {
// 			color: transparent;
// 		}
// 		&:before{
// 		  	width:.5em;
// 		}
// 	}
// 	&.step-2{
// 		.encrypted {
// 			display: none;
// 		}
// 		.decrypted {
// 			display: inline;
// 		}
// 		&:before{
// 		  	width:0;
// 		}
// 	}

// }

.char-reveal {
	.decrypted {
		display: none;
	}
	&.step-1 {
		.decrypted {
			display: inline;
		}
		.encrypted {
			display: none;
		}
	}
}
