//import variables
@import "../../../Variables";

.message-body{
	padding: 1rem 0;

	.message-hint{
		color: #aaa;
		font-style: italic;
	}

	img, iframe, video{
		max-width: 100%;
		border-radius: 1.5rem;
	}

	.hidden-message-block{
		width: 20rem;
		padding: 1rem 0 ;
		background-color: fff;
		border-radius: 1.5rem;

		.pretend-encryption{
			color: #666;
		}

		.content-type-hint{
			color: #666;
			font-size: 2rem;
		}
	}

	.hidden-message-inline{
		font-size: 1.3rem;
		color: #ddd;
		font-family: "Redacted";
	}
}