//import variables
@import "../../../Variables";

$hidden-message-color: #ddd;

.message-body{
	padding: 1rem 0;

	.hint{
		font-size: 1rem;
		margin-top: 1rem;
	}

	img, iframe, video{
		max-width: 100%;
		border-radius: 1.5rem;
	}

	.hidden-message-block{
		width: 20rem;
		padding: 2rem;
		background-color: $hidden-message-color;
		border-radius: 1rem;

		.pretend-encryption{
			color: white;
		}

		.content-type-hint{
			margin: 0 auto;
			margin-top: 2rem;
			text-align: center;
			line-height: 2rem;
			font-size: 1rem;
			background-color: white;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
		}
	}

	.hidden-message-inline{
		color: $hidden-message-color;
		font-family: "Redacted";
	}
}