@import 'src/Variables.scss';

$dot0: lighten($twentyoneprimary,40);
$dot1: lighten($twentyoneprimary,30);
$dot2: lighten($twentyoneprimary,20);
$dot3: lighten($twentyoneprimary,10);
$dot4: lighten($twentyoneprimary,0);


%action-dot{
    border:1px solid transparent;
}

%disabled{
    cursor: default;
}

.dots span{
    cursor: pointer;
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
    // border-radius: 50%;
    display: inline-block;
    margin-right: 0.25em;
    border:1px solid #ccc;
    &.disabled{
        @extend %disabled;
    }
}


.dot0{
    &.active{
        border-color: $dot0;
        background-color: $dot0;
    }
}
.dot1{
    @extend %action-dot;
    &.active{
        background-color: $dot1;
        border-color: $dot1;
    }
}

.dot2 {
    @extend %action-dot;
    &.active{
        background-color: $dot2;
        border-color: $dot2;
    }
}

.dot3 {
    @extend %action-dot;
    &.active{
        background-color: $dot3;
        border-color: $dot3;
    }
}

.dot4 {
    @extend %action-dot;
    &.active{
        background-color: $dot4;
        border-color: $dot4;
    }
}