.holders-profiles {
  display: inline;
}
.holders-profiles + .holders-profiles {
}

.holder-icon{
	width: 18px;
	height: 18px;
	margin-right: -0.25rem;
  position:relative;
  border: 1px solid white;
}

.holder-icon-1 {
  z-index: 2;
}

.holder-icon-2 {
  z-index: 1;
}

.holder-icon-3 {
  z-index: 0;
}

// span needs less margin if only 2 profile images
.holder-icon-1 + span{
  margin-left: 0.5rem;
}

// span needs less margin if only 2 profile images
.holder-icon-2 + span{
  margin-left: 0.4rem;
}

.holder-icon-3 + span{
  margin-left: 0.3rem;
}

.jazzicon {
  display: inline-block;
  position: relative;
  top: 10px;
}