.hidden-message{
  span {
    opacity: 0.5;
  }
}

.card + .card {
  margin-top:1em;
}

.text-muted.more-text-muted {
  opacity: 0.8;
  color: #989b9e;
}

.threshold-input {
  color: #6c757d;
  border: 0;
  border-bottom:0.1px solid #ccc;
  width: 5.25em;
  padding-left: 0.25em;
}