
.message-form.card,.message.card{
border: 1px solid #eee !important;

}

.message-form.card{
	textarea{
	}
}

.hidden-message{
  span {
    opacity: 0.5;
  }
}

.message-body{
	margin: 0.7rem 0;

	& p{
		margin-bottom: 0;
	}
}

.message-time{
	margin-left: 0.4rem;
}

.card + .card {
  margin-top:1em;
}

.text-muted.more-text-muted {
  opacity: 0.8;
  color: #989b9e;
}

.threshold-input {
  color: #6c757d;
  border: 0;
  border-bottom:0.1px solid #ccc;
  width: 5.25em;
  padding-left: 0.25em;
}

.message-form{
	position:relative;
	top: -1rem;
}