header {
    color: gray;
    background-color: #333333;
    padding: 15px;
    margin-bottom: 10px;
    .balance {
        float: right;
        div {
            display: inline-block;
            vertical-align: middle;
            padding: 2px 6px;
        }
    }
    .brand {
        font-size: 1.4em;
        padding: 0px 25px 0px 15px;
        color: white;
        font-weight: bold;
    }
    .nav-pill {
        padding: 0px 5px;
        a {
           color: lightgray; 
        }
    }
    .empty-jazzicon {
        border: 1px solid gray;
        border-radius: 50%;
        background-color: lightgray;
        height: 30px;
        width: 30px;
    }
}