//import variables
@import "../../../Variables";


.MuiSlider-valueLabel{
  z-index: 999999 !important;
}

.asset-table{

  .table-header{
    height: 2.5rem;
  }

  font-size: 0.9rem;

  span.rank{
   font-size: 1rem;
 }

 .asset-search{
  position: relative;

  i {
    position: absolute;
    left: 5px;
    line-height: 25px;
    font-size: 0.7rem;
    color: #999;
  }
  
  input {
    border: 0;
    display: block;
    padding: 3px;
    padding-left: 20px;
    font-size: 12px;
    width: 80%;
    border-radius: 25px;
    border: 1px solid #ddd;
  }
}

.asset-row{
  padding: 0.4rem 0;
  cursor: pointer;
  color: #444;
  background-color: white;
  margin: 3px;
  border-radius: $twentyoneborderradius;

  &.editing{
    cursor: default;
  }
  &.rank-changed-up{
    background-color: lighten(orange,20%);
  }
  &.rank-changed-down{
    background-color: lighten(orange,20%);
  }
  .fa-edit {
    display: none;
    cursor: pointer;
  }
  .close-allocator {
    cursor: pointer;
  }


  &.allocating {
    .my-stake {
      cursor: default;
    }
    &:hover{
      .fa-edit {
        display: none;
      }
    }
  }
  &:hover{

    .fa-edit {
      display: inline-block
    }

  }

  &.selected{
    background-color: #F3F6F6;
    color: #000;

  }
}
}

.stake-arrow {
 position: absolute;
 left: -1.5em;
 top: 0.2em;
}
