//import variables
@import "../../../Variables";

.asset-table{

  font-size: 1rem;

  .profile-image{
  	width: 3rem;
  	height: 3rem;
  	border-radius: 50%;
    margin: 0 1rem;
  }

  span.rank{
   font-weight: bold;
   font-size: 1.2rem;
  }

  .heading-row{

  }
  .asset-row{
    padding: 0.5rem 0;
    border-bottom: 1px dotted #eee;
    color: #444;
    &.index-changed-up{
      background-color: lighten(orange,20%);
    }
    &.index-changed-down{
      background-color: lighten(orange,20%);
    }
    .fa-edit {
      display: none;
      cursor: pointer;
    }
    .close-allocator {
      cursor: pointer;
    }
    .my-stake {
      display: block;
    }
    &.allocating {
      .my-stake {
        cursor: default;
      }
      &:hover{
        .fa-edit {
          display: none;
        }
      }
    }
    &:hover{
      background-color: rgba(0,0,0,0.01);
      color: #000;

      .fa-edit {
        display: inline-block
      }

    }

    &.selected{
      background-color: rgba(0,0,0,0.02);
      color: #000;

    }
  }
}

.stake-arrow {
 position: absolute;
 left: -1.5em;
 top: 0.2em;
}
