.stake-arrow {
   position: absolute;
  left: -1.5em;
  top: 0.2em;
}

.stakers-icon {
  position: relative;
  top: -0.15em;
  font-size: 0.5rem;
  opacity: 0.75;
}

tbody tr td{
	padding: 1.4rem 0.7rem !important;
}