.profile-header{
	background-color: white;
	padding: 2rem;
  border-bottom: 1px solid #eee;

	.image-area{
		text-align: center;
	}

	.token-name{
		font-size: 1.2rem;
	}

	.profile-image{
		max-width: 100px;
		max-height: 100px;
	}

	.token-stakes{
	}

	.top-holders, .top-stakers{
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
		.profile-image{
			max-width: 18px;
			max-height: 18px;
			margin-right: 3px;
		}
	}

	// .module {
	// 	width: 108px;
	// 	height: 108px;
	// 	border: double 4px transparent;
	// 	border-radius: 50%;
	// 	background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
	// 	background-origin: border-box;
	// 	background-clip: content-box, border-box;
	// 	margin: 0 auto;
	// }
}