.profile-header {
  background-color: white;
  padding: 3rem;

  .image-area {
    text-align: center;
  }

  .token-name {
    font-size: 1.3rem;
  }

  .profile-image {
    max-width: 100px;
    max-height: 100px;
  }

  .token-stakes {
  }

  .top-holders,
  .top-stakers {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    .profile-image {
      max-width: 18px;
      max-height: 18px;
      margin-right: 3px;
    }
  }

  .fab.fa-twitter {
    transition: color 0.3s ease-in-out;
    font-size: 12px;
    position: relative;
	top: -2px;
	color: #a1a1a1;
    &:hover {
      color: #1da1f2;
    }
  }

  .fans {
	  margin-top: 6px;
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: flex-start;
	  strong {
		color: rgb(110, 110, 110) !important;
		font-weight: 600 !important;
	  }
	  .top-holder,
	  .top-staker {
		  .description {
			  align-self: center;
			line-height: 0.7rem;
		  }
		color: #a1a1a1;
		align-items: center;
		flex-basis: 100%;
		font-family: "Inter", sans-serif;
		font-weight: 300;
		font-size: 0.7rem;
		margin-top: 5px;
		.photo {
			display: inline-flex;
			align-self: center;
			img {
				width: 16px;
				height: 16px;
				margin-right: 5px;
			}
		}
	  }
  }

  .stat {
	  display: flex;
	  flex-flow: row nowrap;
	  border-radius: 3px;
	.stat-col {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100%;
		.item {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			height: 60px;
		}
		.feature {
			font-weight: 700;
			font-size: 18px;
		}
		.feature-small {
			font-size: 11px;
			line-height: 12px;
			max-width: 110px;
		}
		.small-grey {
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			color: #cecece;
			line-height: 3px;
			display: block;
			padding-top: 4px;
		}
		font-family: Inter;
		font-style: normal;
		font-weight: normal;
		font-size: 19px;
		line-height: 23px;
		margin-bottom: 10px;
	}

	h4 { 
		font-family: Inter;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 23px;
		color: #A6A6A6;
		margin-bottom: 0px;
		margin-top: 10px;
	}
  }

  // .module {
  // 	width: 108px;
  // 	height: 108px;
  // 	border: double 4px transparent;
  // 	border-radius: 50%;
  // 	background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
  // 	background-origin: border-box;
  // 	background-clip: content-box, border-box;
  // 	margin: 0 auto;
  // }
}
