@import "../../../Variables";

$message-margin: 0.3rem;

.message-card{
	position: relative;
	overflow: hidden;
	margin: 2px;
	margin-right: 0px;
	padding: 1rem;

	.decode-button {
		background: #fff;
		border: 1px solid #2AC88F;
		color: #2AC88F;
		transition: all 0.3s ease-in-out;
		padding-top: 4px;
		padding-bottom: 3px;
		&:hover {
			border-color: 1px solid #2AC88F;
			background-color: #2AC88F;
			color: #fff;
		}
	}

	.comment-bubble {
		&.comment-count-changed {
			background-color: #fff8db !important;
		}
	}

	.message-time{
		font-family: "Inter UI", sans-serif;
		display: block;
		font-weight: 300;
		margin-top: 7px;
		font-size: 0.6rem;
	}

	.fab .fa-twitter {
		width: 15px;
		height: 15px;
	}

	&.message-hidden{
		background-color: #fff;
	}

	&:not(.message-hidden){
		.message-body{
			padding: 0.5rem;
		}
	}

	.amount-underline{
		text-decoration: underline;
	}

	.message-header{
		.message-hint{
			font-family: "Noto Serif JP", serif;
			font-weight: 700;
			font-size: 1.2rem;
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
	}

	.message-body{

		.fake-hidden-message{
			margin-top: $message-margin;
			.rectangle{
				display: inline-block;
				height: 15px;
				margin-right: 10px;
				background: repeating-linear-gradient(
					-55deg,
					rgba(0,0,0,0.1),
					rgba(0,0,0,0.1) 10px,
					rgba(0,0,0,0.05) 10px,
					rgba(0,0,0,0.05) 20px
					);
				border-radius: $twentyoneborderradius;
				&.r1{
					width: 100px;
				}

				&.r2{
					width: 100px;
				}

				&.r3{
					width: 100px;
				}
			}

		}
		.hidden-text{
			margin-top: $message-margin;
		}
	}

	.message-footer{
		margin-top: $message-margin;

		.col-md-12 {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
		}

	}

	.message-delete{
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0.75;
		&:hover{
			text-decoration: none;
		}
	}

	&.message-destroy-countdown, &:hover {
		.destroying {
			color: red;
		}
		.message-delete{
			display: block;
		}
	}

	&:hover{
		.message-copy-url{
			position: absolute;
			color: #bbb;
			bottom: 0.5rem;
			right: 0.5rem;
			opacity: 1;
			transition: opacity 0.1s linear;

			&:hover{
				color: #666;
				i{
					color: #1da1f2;
				}
			transition: opacity 0.1s linear;
			}
		}

	}




}

// .message{
//   position: relative;
//   background-color: rgba(0,0,0,0.03);
//   padding: 1rem 2rem 0.5rem 1.5rem;
//   font-size: 1.1rem;
//   opacity: 0.8;
//   border-bottom: 1px solid #eee;
//   overflow: hidden;

//     .message-hint{
//       font-size: 1.1rem;
//       font-weight: bold;
//       letter-spacing: -0.02rem;
//       font-weight: bold;
//       letter-spacing: 0;
//       margin-bottom: 1rem;
//       margin-top:0.25rem;
//     }

//   &.message-hidden{
//   background-color: #fff;




//     .decode-instruction{
//       font-size: 0.9rem;
//       border-radius: 1rem;
//       margin-top: 1rem;
//     }

//     .encrypted-text{
//      font-family: Redacted;
//      color: #ddd;
//      margin: 0.5rem 0;
//      font-size: 1rem;
//      width: 75%;
//     }

//     &.message-type-text, &.message-type-link{
//       $color: #28357f;
//       border-right: 5px solid $color;
//       .message-hint{
//       }
//     }

//     &.message-type-youtube{
//       $color: #FF0000;
//       border-right: 5px solid $color;

//     }

//     &.message-type-twitter{
//       $color: #1da1f2;
//       border-right: 5px solid $color;

//     }

//     &.message-type-image{
//       $color: $twentyonesecondary;
//       border-right: 5px solid $color;

//     }

//     &.message-type-meme{
//       $color: green;
//       border-right: 5px solid $color;
//     }
//     &.message-type-gift{
//       $color: lightblue;
//       border-right: 5px solid $color;
//     }
//   }

//   &:hover{
//     opacity: 1;
//   }

//   color: black;
//   border-left: 1px solid #eee;

//   .content-type-hint{
//     font-size: 1.2rem;
//     color: #aaa;
//   }



//   .token-name{
//     color: black;
//     font-weight: bold;
//     margin-bottom: 1.5rem;
//   }

//   .message-time{
//     font-size: 0.7rem;
//   }

//   .message-delete{
//     display: none;
//     position: absolute;
//     top: 2rem;
//     right: 2rem;
//     opacity: 0.75;
//     &:hover{
//       text-decoration: none;
//     }
//   }

//   &.message-destroy-countdown, &:hover {
//     .destroying {
//       color: red;
//     }
//     .message-delete{
//       display: block;
//     }
//   }

//   &:hover {
//     .message-copy-url{
//       opacity: 0.75;
//       display: inline-block;
//     }
//   }
// }