.Assets {
    .table {
        img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        td form {
            width: 50%;
        }

        td a {
            color: initial;
            &:hover {
                font-weight: bold;
            }
        }

        td .Allocator {
            width: 300px;
        }
    }
    .favorite {
        cursor: pointer;
    }
}