//import variables
@import "Variables";

//then override bootstrap variables
$theme-colors: (
	"primary": $twentyoneprimary
	);

//then import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

//then app wide styles


@font-face {
	font-family: "Redacted";
	src: url("/fonts/redacted-regular.eot");
	src: url("/fonts/redacted-regular.woff2") format("woff2"),
	url("/fonts/redacted-regular.woff") format("woff"),
	url("/fonts/redacted-regular.otf") format("opentype"),
	url("/fonts/redacted-regular.svg#filename") format("svg");
}

html{
	height: 100%;
}

body{
	height: 100%;
	font-size: 1rem;
	font-family: 'Noto Serif JP', serif !important;
}


.container-fluid{
	height: 100%;
}

.nav-column{
	background-color: #eee;
}


.followme, .discover{
	height: 120vh;
	overflow-y: scroll;
	::-webkit-scrollbar { 
		display: none; 
	}
}

.followme{
	box-shadow: 2px 2px 0px rgba(5px,0,0,0.05);
	padding-left: 0;
		opacity: 0.8;
	&:hover{
		opacity: 1;
	}
	transition: opacity 0.2s linear;


	.create-messages-button-fixed{
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 999;
		padding: 5rem;

		.compose-button{
			font-size: 1.4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 4.5rem;
			height: 4.5rem;
			border-radius: 50%;
			background-color: $twentyonesecondary;
			color:white;
			box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
			transition: opacity 0.2s linear;


			&:hover{
				cursor: pointer;
				color: white;
				background-color: $twentyoneaccent;
			}
		}
	}
}

.discover{
	border-right: 1px solid #eee;
	opacity: 0.8;
	&:hover{
		opacity: 1;
	}
}

.feed{
	min-height: 100%;
	background: #eee;
}

.token-name{
	font-weight: bold;

	&::before{
		content: "$";
	}

	&.large{
		font-size: 1.2rem;
	}

	&.medium{
		font-size: 1rem;
	}

}


.card{
	border: none !important;
}

table.table-borderless tr{
	border-bottom: 1px solid #eee;
}

.hidden-char{
	&.0{
		color: red !important;

	}
}

.fa-coins{
	color: #F6B14A;
}


.screen-size-xs{
	&.page-name-main{
		.followme {
			display: none;
		}
	}
	&.page-name-profile{
		.discover {
			display: none;
		}
	}
}