//import variables
@import "Variables";

//then override bootstrap variables
$theme-colors: (
  "primary": $twentyoneprimary
 );

//then import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

//then app wide styles


@font-face {
    font-family: "Redacted";
    src: url("/fonts/redacted-regular.eot");
    src: url("/fonts/redacted-regular.woff2") format("woff2"),
         url("/fonts/redacted-regular.woff") format("woff"),
         url("/fonts/redacted-regular.otf") format("opentype"),
         url("/fonts/redacted-regular.svg#filename") format("svg");
}

html{
  height: 100%;
}

body{
  height: calc(100% - 58px);
  font-size: 1rem;
  font-family: 'Noto Serif JP', serif !important;
}


.container-fluid{
  height: 100%;
}

.main.row{
	border-top: 1px solid #eee;
}

.followme{
	background-color: ghostwhite;
}

.twentyonehundred{
	background-color: ghostwhite;
}

.token-name{
	font-weight: bold;

	&::before{
		content: "$";
	}

	&.large{
		font-size: 1.2rem;
	}

	&.medium{
		font-size: 1rem;
	}

}


.card{
	border: none !important;
}

table.table-borderless tr{
	border-bottom: 1px solid #eee;
}

.hidden-char{
	&.0{
		  color: red !important;

	}
}

.fa-coins{
	color: #F6B14A;
}
