//import variables
@import "Variables";

//then override bootstrap variables
$theme-colors: (
	"primary": $twentyoneprimary
	);

//then import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

//then breakpoint bootstrap libs
@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";

@import url('https://rsms.me/inter/inter.css');

html{
	height: 100%;
}

body{
	height: 100%;
	font-size: 1rem;
	font-family: 'Noto Serif JP', serif !important;
	background-color: $twentyonemuted;
	::-webkit-scrollbar {
		display: none;
	}
   	scrollbar-width: none
}

hr {
	border: none;
	height: 2px;
	background-color: $twentyonemuted;
}

.container-fluid{
	height: 100%;
	padding: 0;
	margin: 0;
}


.followme, .discover, .nav-column{

	@include media-breakpoint-up(md) {
		height: 100vh;
		overflow-y: scroll;
	}

}

.nav-column{
	background-color: white;
  	border-radius: 3px;
}

.followme{
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;

	.create-messages-button-fixed{
		position: fixed;
		bottom: 0px;
		right: 0px;
		z-index: 99999;

		.compose-button{
			font-size: 1.4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
  			border-top-left-radius: 50%;			
  			font-size: 18px;
			background-color: $twentyoneprimary;
			color: $twentyoneprimary;
			color:white;
			transition: opacity 0.2s linear;


			&:hover{
				cursor: pointer;
				color: white;
				background-color: $twentyonesecondary;
				width: 75px;
				height: 75px;
			}

			transition: all 0.1s linear;
		}
	}
}

.enough-to-decode {
	font-family: "Inter UI";
	font-weight: 300;
	font-size: 14px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
}

.badge {
	font-family: "Inter UI", sans-serif;
	font-weight: 500;
	padding: 4px;
	margin: 3px;
	border-radius: 3px;
	background: #f3f3f3;
}

.badge-pill {
	min-height: 26px;
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
}

.far.fa-comment {
	padding-left: 2px;
	padding-right: 3px;
}

.font-weight-bold {
	background: #b6ffce2d
}

.token-name{
	font-weight: bold;

	&::before{
		content: "$";
	}

	&.large{
		font-size: 1.2rem;
	}

	&.medium{
		font-size: 1rem;
	}

}

iframe{
	max-width: 100%;
}

.card{
	border: none !important;
}

table.table-borderless tr{
	border-bottom: 1px solid #eee;
}

.hidden-char{
	&.0{
		color: red !important;

	}
}

.fa-coins{
	color: #F6B14A;
}


.screen-size-xs{
	&.page-name-profile{
		.discover {
			display: none;
		}
	}
}