.modal-backdrop.allocate-backdrop{
	background-color: rgba(0,0,0,0.3) !important;
}

.modal{
	z-index: 999999999;
	.asset-row{
		&:hover{
		cursor: default;
		background-color: #F3F6F6 !important;
		}

		input{
			&:hover{
				cursor: pointer;
			}
		}
	}
}

