.modal-backdrop.allocate-backdrop{
	background-color: rgba(0,0,0,0.3) !important;
}

.modal{
	z-index: 999999999;
	.asset-table{
		padding: 3rem;
	}
	.asset-row{
		background-color: #fff !important;

		&:first-child{
		}

		&:hover{
			cursor: default;
		}

		input{
			width: 100%;
			&:hover{
				cursor: pointer;
			}
		}
	}
}

