.modal-backdrop.allocate-backdrop{
	background-color: rgba(0,0,0,0.3) !important;
}

.allocation-modal.modal{
	z-index: 999999999;

	.close{
		span:not(.sr-only){
			color: black;
			position: relative;
			top: 10px;
			right: 10px;
		}
	}

	.modal-header{
		border-bottom: none;
		padding-bottom: 0;
		padding-top: 2rem;
	}
	.asset-table,{
		padding: 2rem;
	}

	.asset-row{
		background-color: #fff !important;

		&:first-child{
		}

		&:last-child{
			border-bottom: none;
		}

		&:hover{
			cursor: default;
		}

		input{
			width: 100%;
			&:hover{
				cursor: pointer;
			}
		}
	}

	.progress-bar-area{
		padding: 0 2rem;
	}

	.staking-breakdown{
		max-width: 225px;
		width: 80%;
		height: 80%;
	}
}

