.navbar{
	font-size: 1.2rem;
}

.navbar-brand {
  font-size: 1.6rem !important;
  font-weight: bold;
}


.header-background{
	background: url(../../img/background29.png) center center;
	background-size: cover;

	background-color: white;

	.token-name-area{
		color: black;
		padding: 3rem 0.5rem;
  		text-align: center;
  		background: rgba(255,255,255,0.7);

		.mytokenname{
			font-weight: bold;
			font-size: 2.2rem;
		}

		.mytokenstake{
			font-size: 1.3rem;
		}
	}

}