//import variables
@import "../../Variables";

.vertical-nav{
	font-size: 1rem;
}

.logo{
	margin-top: 2rem;
	max-width: 75px;
}

.nav-link.active {
	font-weight: bold;
}

.fm-nav{
	height: 2.5rem;
}

.personal-data-feed{

	.profile-image{
		width: 20px;
		height: 20px;
	}

	h6{
		font-size: 0.8rem;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.asset-earnings{
		font-size: 0.75rem;
		margin: 0.25rem 0;
	}
}
