@import "../../Variables";

.single-message-page{

	.context-bar{
		color: #aaa;
		font-size: 0.8rem;
		padding: 0.75rem 1rem;
		i{
			color: #aaa;
			font-size: 1.1rem;
			position: relative;
			top: .2rem;
			&:hover{
				color: $twentyonesecondary;
			}			
		}

		z-index: 9999999;
	}

	.mini-profile{
		margin: 1rem;
		margin-bottom: 0;
	}

	.message-card{
		.profile-image{
			display: none;
		}
	}
}

.page-name-message{
	.create-messages-button-fixed{
		display: none;
	}
}